*{
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #575757;
    font-family: "Arimo", sans-serif;
}

.primary-btn{
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #2563EB;
}