* {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  font-family: "Inter", sans-serif;
}

nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

li {
  list-style: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #575757;
  font-family: "Arimo", sans-serif;
}

.primary-btn {
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #2563eb;
}

.banner {
  text-align: center;
  color: white;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 608px;
  width: 100%;
}

.banner h1 {
  padding-top: 136px;
  font-size: 48px;
}

.banner p {
  margin-top: 16px;
}

.banner .primary-btn {
  margin-top: 216px;
  padding: 12px 48px;
  font-size: 16px;
}

.speakers {
  padding: 64px;
}

.speakers h1 {
  text-align: center;
  margin-bottom: 32px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.card-img img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 16px;
}

.card-content h4 {
  margin: 12px 0;
}

.card-content p {
  font-size: 12px;
  font-weight: 300;
  color: #575757;
}

.card h6 {
  color: #2563eb;
  font-weight: 500;
}
